@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0 auto;
}

.game-container {
    background-image: url("images/table-main.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 1200px;
    position: relative;
    margin: 0 auto; /* this does the centering */
    height: 100vh;
}

.options  {
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 5%;
    display: flex;
}

.bets {
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 10;
    bottom: 20%;
    display: flex;
}
.help {
    z-index: 10
}

.hand {
    display: flex;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    justify-content: center;
}

.dealer {
    position: absolute;
    top: 12%;
}

.player {
    position: absolute;
    bottom: 17%;
}

.bankroll {
    position: absolute;
    display: flex;
    top: 1%;
    right: 2%;
}
.bet {
    position: absolute;
    display: flex;
    top: 6%;
    right: 8%;
}

.card-img {
    width: 22%;
    height: auto;
}

.doubled {
    transform: rotate(90deg)
}

.bets {
    top: 14%;
    z-index: 10;
}

.menu {
    position: absolute;
    top: 20%;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    z-index: 50;
}

.info {
    position: absolute;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 2rem;
}

.player-score {
    color: white;
    display: flex;
    position: absolute;
    top: 62%;
    left: 0;
    right: 0;
    justify-content: center;
}

.dealer-score {
    color: white;
    position: absolute;
    display: flex;
    top: 26%;
    left: 0;
    right: 0;
    justify-content: center;
}

.btn {
    color: white;
    font-size: 20px;
    background: darkred;
    border: lightcoral;
    border-radius: 0.25rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: 0.3s ease-in-out all;
    text-transform: capitalize;
    display: inline-block;
    margin-top: 15px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form {
    background:  white;
    border-radius: 0.25rem;
    border-top: 5px solid darkred;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 1rem 1rem;
    transition: 0.3s ease-in-out all;
}

.form-content {
    display: grid;
    gap: .5rem; /* 32px */
    padding-top: 2rem; /* 48px */
    padding-bottom: 2rem; /* 48px */
}
.form:hover {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.form-label {
    display: block;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    letter-spacing: 1px;
}
.form-input,
.form-textarea,
.form-select {
    width: 100%;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
    background: #f0f4f8;
    border: 1px solid #bcccdc;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04)
}
.form-input,
.form-select,
.btn-block {
    height: 35px;
}
.form-row {
    margin-bottom: 1rem;
}

.form-textarea {
    height: 7rem;
}
::placeholder {
    font-family: inherit;
    color: #829ab1;
}

.form-title {
    font-size: 2rem; /* 48px */
    padding: 1.25rem; /* 20px */
    text-align: center;
}
.alert {
    position: absolute;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    z-index: 20;
    top: 17%;
    height: 5%;
    display: flex;
}

.alert-text {
    font-size: 2rem;
    background-color: darkred;
    opacity: .70;
    border-radius: 0.75rem;
    color: white;
    padding: 1%;
}

.assist {
    position: absolute;
    top: 9%;
    left: 9%;

}


/* small */
@media screen and (min-width: 768px){


    .options {
        bottom: 48%;
    }
    .btn {
        font-size: 24px;
        margin-top: 30px;
    }
    .card-img {
        width: 12%;
        height: auto;
    }
    .dealer {
        top: 3%;
    }
    .player {
        bottom: 6%;
    }

    .bets {
        top: 17%;
    }
    .menu {
        top: 2%;
    }
    .player-score {
        top: 56%;
    }
    .dealer-score {
        top: 32%;
    }
    .bet {
        top: 9%;
        right: 4.5%;
    }
    .assist {
        top: 15%;
        left: 4%;
    }
}



