.container {
    position: absolute;
    height: 100%;
    width: 100%;
    border: red 4px solid;
    display: grid;
    place-items: center;

}

.icon {
    font-size: 104px;
}
.bet {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gold;
    font-size: 42px;
    font-weight: 600;
    backdrop-filter: blur(1px);
}